@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Catalog */
/* TODO: Figure out where to put me */

#example {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}
